.insta {
  background: url("../img/icon/insta.svg");
  width: 24px;
  height: 24px;
}
.facebook {
  background: url("../img/icon/facebook.svg");
  width: 24px;
  height: 24px;
}
.telegram {
  background: url("../img/icon/telegram.svg");
  width: 24px;
  height: 24px;
}
.tiktok {
  background: url("../img/icon/tiktok.svg");
  width: 24px;
  height: 24px;
}
.insta-white {
  background: url("../img/icon/insta-white.svg");
  width: 24px;
  height: 24px;
}
.facebook-white {
  background: url("../img/icon/facebook-white.svg");
  width: 24px;
  height: 24px;
}
.telegram-white {
  background: url("../img/icon/telegram-white.svg");
  width: 24px;
  height: 24px;
}
.tiktok-white {
  background: url("../img/icon/tiktok-white.svg");
  width: 24px;
  height: 24px;
}
.loup {
  background: url("../img/icon/loup.svg");
  width: 16px;
  height: 16px;
}
.pin {
  background: url("../img/icon/pin.svg");
  width: 14px;
  height: 20px;
}
.phone {
  background: url("../img/icon/phone.svg");
  width: 20px;
  height: 20px;
}
.clock {
  background: url("../img/icon/clock.svg");
  width: 20px;
  height: 20px;
}
.close {
  background: url("../img/icon/close.svg");
  width: 12px;
  height: 12px;
}
.close-gray {
  background: url("../img/icon/close-gray.svg");
  width: 12px;
  height: 12px;
}
.close-white {
  background: url("../img/icon/close-white.svg");
  width: 40px;
  height: 40px;
}
.play-button {
  background: url("../img/icon/play-button.svg");
  width: 64px;
  height: 64px;
}
.mail {
  background: url("../img/icon/mail.svg");
  width: 24px;
  height: 20px;
}
.insta-lg {
  background: url("../img/icon/insta-lg.svg");
  width: 24px;
  height: 24px;
}